# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# Test/coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Other
*.swp 